// Переменные
@import "parts/variables";
// Локальные шрифты
@import "parts/fonts";
// normalize v8.0.1
@import "parts/normalize";
// Глобальные стили по тегу
@import "parts/base";
// служебные классы
@import "parts/custom-support";


@import "parts/wrapper";
@import "parts/tel";
@import "parts/title";
@import "parts/button";
@import "parts/filter-show";

@import "parts/main";
@import "parts/header";
@import "parts/filter-list";
@import "parts/pagination";
@import "parts/scrollbar";

@import "parts/footer";
@import "parts/modal";
@import "parts/choices";


.table-head__wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.sort-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 8px;
      height: 8px;
    }
  }
}
