.button {
  background: var(--color7);
  border-radius: 0;
  color: var(--color1);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontFam1);
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;
  border: none;
}
