/* визуально скрыть элемент  -------------------------------*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
