.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-gap);
  justify-content: space-between;
  margin-bottom: 20px;
  transition: all 0.5s;
  height: auto;

  /* &.show-all {
    height: 75px;
    overflow: hidden;
  } */

  @media (max-width: 1300px) {
    gap: 10px;
  }

  &__label {
    position: relative;
    margin-bottom: 10px;
    display: block;
  }

  &__item {
    width: calc((100% / 6) - 20px);

    @media (max-width: 1300px) {
      width: calc((100% / 4) - 10px);
    }

    @media (max-width: 950px) {
      width: calc((100% / 3) - 10px);
    }

    @media (max-width: 670px) {
      width: calc((100% / 2) - 10px);
    }

    @media (max-width: 450px) {
      width: 100%;
    }

  }

  &__item--button {
    align-self: flex-end;

    .button {
      width: 100%;
      padding: 10px 20px;
    }
  }
}

.filter-list .filter-list__item--mod {
  display: none;
}

.filter-list.show-all .filter-list__item--mod {
  display: block;
}
