:root {
  --fontFam1: 'Nunito';
  --fontFam2: 'TT Firs Neue';

  --fontSizeBase: 15px;

  --color1: #FFFFFF;

  --color2: #9DA6AB;
  --color3: #E4E4E4;
  --color4: #F4F6FB;
  --color5: #767A81;

  --color6: #1A212D;
  --color7: #212322;
  --color8: #272528;

  --color9: #A50034;
  --color10: #F9FAFD;
  --color11: #6C6D70;

  --grid-gap: 20px;
}
